body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tiny-item {
  height: 2em;
}

.job-recipe-select {
  display: flex;
  flex-direction: column;
}

.job-indent {
  margin-left: 42px;
}

.from-inv-input {
  width: 7em;
}

.inp-disabled {
  color: GrayText;
  /*background-color: ;*/
}